<!-- views/partials/footer.ejs -->

<hr />
<p class="text-center">
    &copy; <%= currentYear %>
    <a href="https://github.com/tetyanago2023?tab=repositories" target="_blank" rel="noopener noreferrer">
        Tetyana Goncharenko
    </a>
    Code the Dream Final Project. All rights reserved.
</p>
</body>
</html>
