<!-- views/partials/header.ejs -->

<div class="py-1">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-center">Health Diary for Type 2 Diabetes Management</h1>
        <!-- Container for Theme Toggle and User Info -->
        <div class="d-flex align-items-center gap-3">
            <button id="theme-toggle" class="btn btn-secondary d-flex align-items-center">
                <i id="theme-icon" class="fa-solid fa-moon"></i>
            </button>

            <% if (user) { %>
                <!-- User Info and Logoff Button -->
                <div class="user-info-container d-flex align-items-center gap-2">
                    <span class="user-message">User <strong><%= user.name %></strong> is logged on.</span>
                    <form method="POST" action="/sessions/logoff">
                        <input type="hidden" name="_csrf" value="<%= _csrf %>">
                        <button class="btn btn-primary">Logoff</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
    <% if (errors) { %>
        <% errors.forEach((err) => { %>
            <div class="alert alert-danger" role="alert">
                Error: <%= err %>
            </div>
        <% }) %>
    <% } %>
    <% if (info) { %>
        <% info.forEach((msg) => { %>
            <div class="alert alert-info" role="alert">
                Info: <%= msg %>
            </div>
        <% }) %>
    <% } %>
    <hr />
</div>
