<!-- views/partials/header.ejs -->

<div class="py-3">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-center">Health Diary for Type 2 Diabetes Management</h1>
        <button id="theme-toggle" class="btn btn-secondary">Switch to Dark Mode</button>
    </div>
    <% if (user) { %>
        <p class="text-center">User <strong><%= user.name %></strong> is logged on.</p>
        <form method="POST" action="/sessions/logoff" class="text-center">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <button class="btn btn-danger">Logoff</button>
        </form>
    <% } %>
    <% if (errors) { %>
        <% errors.forEach((err) => { %>
            <div class="alert alert-danger" role="alert">
                Error: <%= err %>
            </div>
        <% }) %>
    <% } %>
    <% if (info) { %>
        <% info.forEach((msg) => { %>
            <div class="alert alert-info" role="alert">
                Info: <%= msg %>
            </div>
        <% }) %>
    <% } %>
    <hr />
</div>
